@import url("styles.css");

#cart-container-section {
    padding: 20px 0;
}

.gorillas-cart-item-container{
    display: flex;
    padding: 20px;
    flex-direction: column;
}

.gorillas-cart-item-container img{
    width: 78px;
    height: 78px;
}

.gorillas-cart-item-left{
    display: flex;
}

.gorillas-cart-item-right{
    display: flex;
    font-size: 12Spx;
    font-weight: 700;
    color: var(--gorillas-color-font-secondary);

}

.gorillas-cart-item-quantity-container {
    display: flex;
    font-size: 16px;
    font-weight: 700;
}

.gorillas-cart-item-quantity-container p {
    margin: 0 5px;
}


.gorillas-cart-item-description {
    font-weight: 700;
    color:var(--gorillas-color-font-primary);
    font-size: 19px;
}

.gorillas-cart-item-description h3 {
    font-size: 15px;
}

.gorillas-cart-item-quantity-btn {
    color: var(--gorillas-color-btn-primary);
    cursor: pointer;
}

.gorillas-cart-total-container {
    padding: 10px 20px;
}

.gorillas-cart-total-container h3 {
    text-align: left;
    font-size: 20px;
    color: var(--gorillas-color-font-secondary);
}

@media(min-width:576px) {
    .gorillas-cart-item-container{
        flex-direction: row;
        justify-content: space-between;
    }

    .gorillas-cart-item-description  h3{
        font-size: 20px;
    }

    .gorillas-cart-total-container h3 {
        text-align: right;
    }

    .gorillas-cart-item-right {
        padding-top: 10px;
    }
}