@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --gorillas-color-bg-primary: #e8e8e8;
  --gorillas-color-bg-secondary: #ffe500;
  --gorillas-color-bg-tertiary:  #636363;

  --gorillas-color-card-bg: #fff;
  --gorillas-color-card-border: #d9d9d9;

  --gorillas-color-btn-primary:#3483fa;
  --gorillas-color-btn-inverse:#fff;

  --gorillas-color-font-primary:#636363;
  --gorillas-color-font-secondary:#0caf1d;
  --gorillas-color-font-tertiary: #fff;
  --gorillas-color-font-placeholder: #d9d9d9;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0 ;
  font-family: "Open Sans";
}
a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color:var(--gorillas-color-card-bg);
}

main {
  padding: 0 20px;
}

/*-----------------------------------------------------------------------------*/
/*Generics Styles*/

.gorillas-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.gorillas-mb20 {
  margin-bottom: 20px;
}


.gorillas-mt20 {
  margin-top: 20px;
}

.gorillas-ml20 {
  margin-left: 20px;
}


/*-----------------------------------------------------------------------------*/
/*Header Styles*/

header {
  background-color: var(--gorillas-color-bg-secondary);
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

nav {
  color: var(--gorillas-color-font-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 24px;
}

nav a {
  font-size: 17px;
  font-weight: 700;
}

/*-----------------------------------------------------------------------------*/
/*Card Styles*/

.gorillas-card {
  background-color:var(--gorillas-color-card-bg) ;
  border-radius: 5px;
  border: 1px solid var(--gorillas-color-card-border);
}

/*-----------------------------------------------------------------------------*/
/*Button Styles*/

.gorillas-line-bottom {
  border-bottom: 1px solid var(--gorillas-color-card-border);
}

.gorillas-btn-page-container {
  width: 100%;
  display: grid;
  grid-gap: 20px;
}

@media (min-width:576px) {

  .gorillas-btn-page-container {
    width: 220px;
  }
}

.gorillas-btn {
  border-radius: 5px;
  height: 42px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gorillas-btn-blue {
  background-color: var(--gorillas-color-btn-primary);
  color: var(--gorillas-color-btn-inverse) ;
  cursor: pointer;
}


.gorillas-btn-white {
  background-color: var(--gorillas-color-btn-inverse);
  color: var(--gorillas-color-btn-primary);
  border: 1px solid var(--gorillas-color-btn-primary);
  cursor: pointer;
}

.gorillas-btn-next-page {
  border: 1px solid var(--gorillas-color-btn-primary);
  padding: 10px;
  border-radius: 4px;
  color: var(--gorillas-color-btn-primary);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;

}

/*-----------------------------------------------------------------------------*/
/*Search bar Styles*/

.gorillas-search-bar{
  height: 40px;
  display: flex;
  color: var(--gorillas-color-font-primary);
}

.gorillas-search-bar button, .gorillas-search-bar input{
  border: 1px solid var(--gorillas-color-card-border);
}

.gorillas-search-bar input{
  width: calc(100% - 80px);
  border-left: none;
  border-right: none;
  padding: 0 10px;
  font-size: 16px;
  color: var(--gorillas-color-font-primary);

}

.gorillas-search-bar input:focus{
  outline: none;
}

.gorillas-search-bar input::placeholder{
  color: var(--gorillas-color-font-placeholder);
}



.gorillas-search-bar button{
  width: 40px;
  color: var(--gorillas-color-font-primary);
}

.gorillas-search-bar button[type="submit"]{
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.gorillas-search-bar button[type="reset"]{
  border-left: none;
  border-radius: 0 4px 4px 0;
}

