@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "open sans";
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: #e8e8e8;
}

header {
  background-color: #ffe500;
  height: 70px;
  display: flex;
  align-items: center;
}

nav {
  color: #636363;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.card {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #e9e9e9;
}

.line-bottom {
  border-bottom: 1px solid #e9e9e9;
}

.btn-page-container {
  width: 220px;
  display: grid;
  grid-gap: 20px;
}

.btn {
  border-radius: 5px;
  height: 42px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-blue {
  background-color: #3483fa;
  color: #fff;
}

.btn-white {
  background-color: #fff;
  color: #3483fa;
  border: 1px solid #3483fa;
}
.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}

.ml20 {
  margin-left: 20px;
}
